root = true

[*]
indent_style = tab
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.yml]
indent_style = space
indent_size = 2

[contracts/{cat,dai,end,flap,flip,flop,join,jug,lib,pot,spot,vat,vow}.sol]
indent_size = 4
indent_style = space
